<footer th:fragment="footer" id="fh5co-footer" class="fh5co-bg" style="background-image: url(images/img_bg_1.jpg);" role="contentinfo">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 fh5co-widget">
				<h3>Acerca de NosFalta1</h3>
				<p>Proyecto Final desarrollado para el curso de programacion de Egg.</p>
				<p>
					<a class="btn btn-primary" href="#">Contacto</a>
				</p>
			</div>
			<div class="col-md-8">
				<h3>Integrantes</h3>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<ul class="fh5co-footer-links">
						<li><a href="#">Arco Dario</a></li>
						<li><a href="#">Benzano Enrique</a></li>
						<li><a href="#">Garcia Emiliano</a></li>
						<li><a href="#">Minetti Cesar</a></li>
						<li><a href="#">Sosa Raisa</a></li>
						<li><a href="#">Vidal Gaston</a></li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</footer>