<nav th:fragment="nav" class="fh5co-nav" role="navigation">
	<div class="top-menu">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo">
						<a th:href="@{/}">NosFalta1<span>.</span></a>
					</div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li><a th:href="@{/}">Home</a></li>
						<li><a  th:href="@{/usuario/login}">Ingresar</a></li>
						<li><a th:href="@{/usuario/registrarse}">Registrarse</a></li>
						<li class="has-dropdown"><a>Partidos</a>
							<ul class="dropdown">
								<li><a th:href="@{/partido/listar-partidos}">Listar Partidos</a></li>
								<li><a th:href="@{/partido/alta-partido}">Crear Partido</a></li>
								<li><a href="#">API</a></li>
							</ul></li>
						<li><a th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre }"></a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</nav>