<nav th:fragment="nav" class="fh5co-nav" role="navigation">
	<div class="top-menu">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo">
						<a th:href="@{/}">NosFalta1<span>.</span></a>
					</div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li class="has-dropdown"><a th:href="@{/}">Home</a></li>
						<li class="has-dropdown"><a>Partidos</a>
							<ul class="dropdown">
								<li><a th:href="@{/partido/listar-partidos}" >Buscar Partidos</a></li>
								<li><a th:href="@{/partido/alta-partido}">Crear Partido</a></li>
								<li><a th:if="${session.usuariosession != null}" th:href="@{/partido/mis-partidos/__${session.usuariosession.id}__}">Mis Partidos</a></li>
								<li><a th:if="${session.usuariosession != null}" th:href="@{/partido/mis-postulaciones/__${session.usuariosession.id}__}">Mis Postulaciones</a></li>
							</ul>
						</li>
						<li th:if="${session.usuariosession == null}"><a th:href="@{/usuario/login}">Ingresar</a></li>
						<li th:if="${session.usuariosession == null}"><a  th:href="@{/usuario/registrarse}">Registrarse</a></li>
						<li class="has-dropdown"><a th:if="${session.usuariosession != null}" class="fas fa-user has-dropdown usuario" th:text="${session.usuariosession.nombre }"></a>
							<ul class="dropdown">
								<li><a th:if="${session.usuariosession != null}" th:href="@{/usuario/ver-perfil/__${session.usuariosession.id}__}">Ver Perfil</a></li>
								<li><a th:if="${session.usuariosession != null}" th:href="@{/logout}">Salir</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</nav>