<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="components/head::head"></head>

<body>

	<div class="fh5co-loader"></div>

	<div id="page">
		<nav th:replace="components/nav::nav"></nav>

		<header id="fh5co-header" class="fh5co-cover partidos alta-partido"
			role="banner" data-stellar-background-ratio="0.5">
			<div class="container pt-30">
				<div class="row equal">
					<div class="col-md-6 animate-box">

						<h1>Crear Partido</h1>
						<form th:action="@{/partido/crear_partido}" method="post"
							enctype="multipart/form-data">
							<div class="form-row">
								<div th:if="${mensajeerror != null}"
									class="col-md-12 alert alert-danger" role="alert">
									<h4 th:text="${mensajeerror}"></h4>
								</div>
								<div th:if="${mensajeexito != null}" role="alert"
									class="col-md-12 alert alert-success animate-box text-center">
									<h4 th:text="${mensajeexito}"></h4>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<!-- <label for="subject">Subject</label> -->
									<input type="hidden" id="usuario" class="form-control"
										name="idcreador" th:value="${session.usuariosession.id}">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<!-- <label for="subject">Subject</label> -->
									<input required type="date" id="subject" class="form-control"
										name="fecha"th:min="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"  placeholder="fecha">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<!-- <label for="subject">Subject</label> -->
									<input type="time" id="subject" class="form-control"
										name="horario" placeholder="horario">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<select required name="idLocalidad" class="form-control">
										<option value="" selected>Selecciona Localidad</option>
										<option th:each="localidad:${localidades}"
											th:value="${localidad.id}" th:text="${localidad.nombre}"></option>
									</select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<select required name="idEstablecimiento" class="form-control">
										<option value="" selected>Selecciona Establecimiento</option>
										<option th:each="establecimiento:${establecimientos}"
											th:value="${establecimiento.id}"
											th:text="${establecimiento.nombre}"></option>
									</select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<input required type="number" id="subject" class="form-control"
										name="cantJugadores" placeholder="Cantidad de jugadores">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<input required type="number" id="subject" class="form-control"
										name="cantVacantes" placeholder="Cantidad de vacantes libres">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<input required type="number" id="subject" class="form-control"
										name="precio" placeholder="Precio por jugador">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<select required name="sexo" class="form-control">
										<option value="" selected>Selecciona el Sexo</option>
										<option th:each="sex:${sexo}" th:value="${sex}"
											th:text="${sex}"></option>
									</select>
								</div>
							</div>


							<!--BOTON DE CREAR-->
							<div class="row form-group">
								<div class="col-md-12">
									<input type="submit" value="Crear Partido"
										class="btn btn-primary">
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-6 animate-box img-lateral">
						
					</div>
				</div>
			</div>
		</header>



		<!--COMENTO FOOTER-->
		<!--<footer th:replace="components/footer::footer"></footer>-->
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<scripts th:replace="/components/scripts::scripts"></scripts>



</body>
</html>
