<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="components/head::head"></head>

<body>

	<div class="fh5co-loader"></div>

	<div id="page">
		<nav th:replace="components/nav::nav"></nav>

		<header id="fh5co-header" class="fh5co-cover registro" role="banner" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-md-6 animate-box">
						<h1>Contacto</h1>
						<form th:action="@{/contacto}" method="post" enctype="multipart/form-data">
      						<div class="form-group">
							    <label>Nombre:</label>
							    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
							        <div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div>
							        <input type="text" class="form-control" name="nombre" placeholder="Pepe Argento">
							    </div>
						    </div>
						    <div class="form-group">
							    <label>Email:</label>
							    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
							        <div class="input-group-addon">@</div>
							        <input type="text" class="form-control" name="mail" placeholder="pepe@gmail.com">
							    </div>
						    </div>
						    <div class="form-group">
							    <label>Asunto:</label>
							    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
							        <div class="input-group-addon"><i class="fa fa-fw fa-envelope-open"></i></div>
							        <input type="text" class="form-control" name="asunto" placeholder="Consulta">
							    </div>
						    </div>
						    <div class="form-group">
							        <label>Mensaje:</label>
							        <textarea class="form-control" rows="5" name="cuerpo"></textarea>
						    </div>
      								<button type="submit" class="btn btn-primary">Enviar!</button>
 						</form>
					</div>
				</div>
			</div>
		</header>



		<!--FOOTER-->
		<footer th:replace="components/footer::footer"></footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<scripts th:replace="/components/scripts::scripts"></scripts>



</body>
</html>
