<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="components/head::head"></head>

<body id="resto">

	<div class="fh5co-loader"></div>

	<div id="page_editar_perfil">
		<nav th:replace="components/nav::nav"></nav>

		<header id="fh5co-header" class="fh5co-cover perfil editar img-fondo">
			<div class="container pt-30">
				<h1>Editar Perfil</h1>
			</div>
		</header>
		<div class="container pt-30 pb-30">
			<div class="row">
				<div class="col-md-12 animate-box">
					<form th:action="@{/usuario/editar-perfil}" method="post"
						enctype="multipart/form-data">
						<div class="form-row">
							<div th:if="${error != null}"
								class="col-md-12 alert alert-danger" role="alert">
								<p th:text="${error}"></p>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<input th:value="${usuario.id}" type="hidden" id="subject"
									class="form-control" name="idusuario">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-6">
								<input th:value="${usuario.nombre}" type="text" id="subject"
									class="form-control" name="nombre" placeholder="Nombre">
							</div>
							<div class="col-md-6">
								<input th:value="${usuario.apellido}" type="text" id="subject"
									class="form-control" name="apellido" placeholder="Apellido">
							</div>
							<div class="col-md-6">
								<input th:value="${usuario.edad}" type="number" id="subject"
									class="form-control" name="edad" placeholder="Edad">
							</div>
							<div class="col-md-6">
								<input th:value="${usuario.mail}" type="email" id="subject"
									class="form-control" name="mail" placeholder="Email">
							</div>
							<div class="col-md-6">
								<select name="idLocalidad" class="form-control">

									<option th:each="localidad:${localidades}"
										th:value="${localidad.id}" th:text="${localidad.nombre}"
										th:selected="${usuario.localidad!=null && localidad.id==usuario.localidad.id}"></option>

								</select>
							</div>
							<div class="col-md-6">
								<input type="password" id="subject" class="form-control"
									name="clave" placeholder="Ingrese clave">
							</div>
							<div class="col-md-6">
								<input type="password" id="subject" class="form-control"
									name="clave1" placeholder="Repetir clave">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-6">
								<label for="archivo">Seleccioná las posiciones en las
									que jugás</label>
								<div th:each="posicion:${posiciones}">
                                		<input type="checkbox"
                                				th:text="' '+${posicion.posicion}"
                                				th:field="${usuario.posiciones}"
                                				th:value="${posicion.id}"
                                				name="posicion" class="form-check-label" >
                            		</div>
							</div>
						</div>
						<!--BOTON DE MODIFICAR-->
						<div class="row form-group">
							<div class="col-md-12">
								<input type="submit" value="Modificar" class="btn btn-primary">
							</div>
						</div>
				</div>
				</form>
			</div>
		</div>

		<footer th:replace="components/footer::footer"></footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<scripts th:replace="/components/scripts::scripts"></scripts>



</body>
</html>
