<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="components/head::head"></head>

<body id="resto">

	<div class="fh5co-loader"></div>

	<div id="page" class="page_buscar_partidos">

		<nav th:replace="components/nav::nav"></nav>

		<header id="fh5co-header"
			class="fh5co-cover partidos buscar-partidos img-fondo">
			<div class="container pt-30">
				<h1>Buscar Partidos</h1>
			</div>
		</header>
		<div class="pt-30"></div>
		<div class="container pt-30">
			<div class="row">
				<div class="col-lg-12 search">
					<form th:action="@{/partido/listar-partidos-ok}" method="post">
						<div class="form-row">
							<div th:if="${error != null}"
								class="col-md-12 alert alert-danger" role="alert">
								<span th:text="${error}"></span><a th:if="${alta != null}"
									th:href="@{/partido/alta-partido}" th:text="${alta}"
									class="btn btn-primary btn-altapartido"></a>
							</div>
							<div th:if="${mensajeexito != null}" role="alert"
								class="col-md-12 alert alert-success animate-box text-center">
								<h4 th:text="${mensajeexito}"></h4>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<select required name="idLocalidad" class="form-control">
									<option value="" selected>Elegir Localidad...</option>
									<option th:each="localidad : ${localidades}"
										th:value="${localidad.id}" th:text="${localidad.nombre}"></option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<select name="sexo" class="form-control" placeholder="Sexo">
									<option value="" selected>Elegir el Sexo</option>
									<option th:each="sex:${sexo}" th:value="${sex}"
										th:text="${sex}"></option>
								</select>
							</div>
						</div>
						<!--BOTON DE LISTAR-->
						<div class="form-group">
							<div class="col-md-12">
								<input type="submit" value="Listar Partidos"
									class="btn btn-primary">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="pt-40"></div>
		<div class="pt-40"></div>


		<footer th:replace="components/footer::footer"></footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<scripts th:replace="/components/scripts::scripts"></scripts>


</body>
</html>
