<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="components/head::head"></head>

    <body>

        <div class="fh5co-loader"></div>

        <div id="page">
            <nav th:replace="components/nav::nav"></nav>

            <header id="fh5co-header" class="fh5co-cover partidos">  
            </header>

            <div id="fh5co-services" class="fh5co-bg-section lista-partido">

                <div class="container">
                    <div class="row">
                        <h2>Lista de Postulados</h2>
                        <div class="col-lg-12 search">
                            <input type="search" class="form-control" id="input-search" placeholder="Buscar Postulados..." >
                        </div>
                        <div class="searchable-container">
                            <div th:each="confirmado:${confirmados}" class="items col-xs-12 col-sm-6 col-md-6 col-lg-6 clearfix">
                                <div class="info-block block-info clearfix">
                                    <div class="square-box pull-left">
                                        <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                                    </div>
                                    <h4>Nombre: <span th:text="${confirmado.nombre + ' ' + confirmado.apellido }"></span></h4>
                                    <p>Posiciones: <span th:each="pos:${confirmado.posiciones}"></span><br>
                                    			<span th:text="${pos.posicion}"></span></p>
                                    <p>Reputación: <span></span></p>
                                    <br>
                                    
                                    <a th:href="@{/partido/ver-perfil/__${postulado.id}__}" class="btn btn-primary btn-sm bmodificar"><i class="fas fa-edit"></i> Ver Perfil</a>
                                    
                                    <a th:href="@{/partido/eliminar_partido/__${partido.id}__}" class="btn btn-primary btn-sm beliminar"><i class="far fa-trash-alt"></i> Eliminar</a>
                                    
                                    <a th:href="@{/partido/confirmar-postulado(idpartido=__${partido.id}__,idpostulado=__${session.usuariosession.id}__)}" class="btn btn-primary btn-sm bpostularse"><i class="far fa-trash-alt"></i>Confirmar Postulado</a>
                                    
                                    
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 clearfix">
                            <p th:if="${fecha}" class="col-md-12" role="">
								<form th:action="@{/lalal}" method="post" class="reputacion">
								  <h5>Habilidad</h5>
								  <p class="clasificacion">
								    <input id="radio1" type="radio" name="habilidad" value="5"><!--
								    --><label for="radio1">★</label><!--
								    --><input id="radio2" type="radio" name="habilidad" value="4"><!--
								    --><label for="radio2">★</label><!--
								    --><input id="radio3" type="radio" name="habilidad" value="3"><!--
								    --><label for="radio3">★</label><!--
								    --><input id="radio4" type="radio" name="habilidad" value="2"><!--
								    --><label for="radio4">★</label><!--
								    --><input id="radio5" type="radio" name="habilidad" value="1"><!--
								    --><label for="radio5">★</label>
								  </p>
								  <h5>Puntualidad</h5>
								  <p class="clasificacion">
								    <input id="radio11" type="radio" name="puntualidad" value="5"><!--
								    --><label for="radio11">★</label><!--
								    --><input id="radio22" type="radio" name="puntualidad" value="4"><!--
								    --><label for="radio22">★</label><!--
								    --><input id="radio33" type="radio" name="puntualidad" value="3"><!--
								    --><label for="radio33">★</label><!--
								    --><input id="radio44" type="radio" name="puntualidad" value="2"><!--
								    --><label for="radio44">★</label><!--
								    --><input id="radio55" type="radio" name="puntualidad" value="1"><!--
								    --><label for="radio55">★</label>
								  </p>
								  <h5>FairPlay</h5>
								  <p class="clasificacion">
								    <input id="radio111" type="radio" name="fairplay" value="5"><!--
								    --><label for="radio111">★</label><!--
								    --><input id="radio222" type="radio" name="fairplay" value="4"><!--
								    --><label for="radio222">★</label><!--
								    --><input id="radio333" type="radio" name="fairplay" value="3"><!--
								    --><label for="radio333">★</label><!--
								    --><input id="radio444" type="radio" name="fairplay" value="2"><!--
								    --><label for="radio444">★</label><!--
								    --><input id="radio555" type="radio" name="fairplay" value="1"><!--
								    --><label for="radio555">★</label>
								  </p>
									<input type="submit" value="Enviar Voto"
										class="btn btn-primary">
								</form>
							</p>
                        </div>
                    </div>
                </div>
            </div>

                    <scripts th:replace="/components/scripts::scripts"></scripts>
            <footer th:replace="components/footer::footer"></footer>
        </div>
                    <!--FontAwesome-->
                    <script src="https://kit.fontawesome.com/893bee3809.js" crossorigin="anonymous"></script>
        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
        </div>


    </body>
</html>
