<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="components/head::head"></head>

<body id="login">

	<div class="fh5co-loader"></div>

	<div id="page">
		<!--COMENTO NAVBAR-->
		<!--<nav th:replace="components/nav::nav"></nav>-->

		<header id="fh5co-header" class="login" role="banner" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-md-6 animate-box">
						<br>
						<br>
						<br>
						<h1>Login de Usuario</h1>
						<form th:action="@{/usuario/logincheck}" method="post" enctype="multipart/form-data">
							<div class="form-row">
								<div th:if="${error != null}" class="col-md-12 alert alert-danger" role="alert">
									<p th:text="${error}"></p>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-12">
									<input type="text" id="email" class="form-control"
										name="mail" th:value="${mail}" placeholder="Email">
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-12">
									<!-- <label for="subject">Subject</label> -->
									<input type="password" id="subject" class="form-control"
										placeholder="Clave">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<input type="submit" value="Ingresar"
										class="btn btn-primary">
								</div>
							</div>
							<div class="text-center mt-4 font-weight-light">
										Todavia no sos usuario? <a th:href="@{registrarse}"
											class="text-primary">Registrate</a>
									</div>

						</form>
					</div>
				</div>
			</div>
		</header>

		<!--COMENTO FOOTER-->
		<!--<footer th:replace="components/footer::footer"></footer>-->
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<scripts th:replace="/components/scripts::scripts"></scripts>



</body>
</html>