<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="components/head::head"></head>

<body id="resto">

	<div class="fh5co-loader"></div>

	<div id="page_lista_partidos">
		<nav th:replace="components/nav::nav"></nav>

		<header id="fh5co-header" class="fh5co-cover partidos lista-partidos img-fondo">
			<div class="container pt-30">
				<h1>Lista de Partidos</h1>
			</div>
		</header>

		<div id="fh5co-services" class="fh5co-bg-section lista-partido">

			<div class="container">
				<div class="row">
					<div class="col-lg-12 search">
						<input type="search" class="form-control" id="input-search"
							placeholder="Filtrar partidos...">
					</div>
					<div th:if="${error != null}" class="col-md-12 alert alert-danger"
						role="alert">
						<h4 th:text="${error}"></h4>
						<span th:if="${alta != null}" class="col-md-6"> <a
							th:href="@{/partido/alta-partido}" th:text="${alta}"
							class="btn btn-primary"></a>
						</span>
					</div>
					<div th:if="${mensajeexito != null}" role="alert"
						class="col-md-12 alert alert-success animate-box text-center">
						<h4 th:text="${mensajeexito}"></h4>
					</div>
					<div class="searchable-container">
						<div th:each="partido:${partidos}"
							class="items col-xs-12 col-sm-4 col-md-4 col-lg-4 clearfix">
							<div class="info-block block-info clearfix">
								<div class="square-box pull-left">
									<span class="glyphicon glyphicon-user glyphicon-lg"></span>
								</div>
								<h4>
									Nombre: <span
										th:text="${partido.creador.nombre + ' ' + partido.creador.apellido }"></span>
								</h4>
								<p>
									Fecha: <span th:text="${#dates.format(partido.fecha, 'dd MMMM yyyy')}"></span>
								</p>
								<p>
									Horario: <span
										th:if="${partido.horario.toString().length()==1}"
										th:text="${partido.horario.toString()+'0:00'}"></span> <span
										th:if="${partido.horario.toString().length()==3}"
										th:text="${partido.horario.toString().substring(0, 1)+':'+partido.horario.toString().substring(1, 3)}"></span>
									<span th:if="${partido.horario.toString().length()==4}"
										th:text="${partido.horario.toString().substring(0, 2)+':'+partido.horario.toString().substring(2, 4)}"></span>
								</p>
								<p>
									Precio: <span th:text="${partido.precio}"></span>
								</p>
								<p>
									Localidad: <span th:text="${partido.localidad.nombre}"></span>
								</p>
								<p>
									Establecimiento: <span
										th:text="${partido.establecimiento.nombre}"></span>
								</p>
								<p>
									Tipo Partido: <span th:text="${partido.sexo}"></span>
								</p>
								<p>
									Estado Del Partido: <span th:if="${partido.estado != true}"
										class="text-danger"> Cancelado</span> <span
										th:if="${partido.estado != false}" class="text-success">
										Activo</span>
								</p>
								<br> <a
									th:href="@{/partido/ver-partido(idpartido=__${partido.id}__)}"
									class="btn btn-sm bver"><i
									class="fas fa-edit"></i> Ver Partido</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<scripts th:replace="/components/scripts::scripts"></scripts>
		<footer th:replace="components/footer::footer"></footer>
	</div>
	<!--FontAwesome-->
	<script src="https://kit.fontawesome.com/893bee3809.js"
		crossorigin="anonymous"></script>
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>


</body>
</html>
