<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="components/head::head"></head>

<body>

	<div class="fh5co-loader"></div>

	<div id="page">
		<nav th:replace="components/nav::nav"></nav>

		<header id="fh5co-header" class="alta-partido" role="banner" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-md-6 animate-box">
						<br>
						<h1>Modificar Pais</h1>
						<form th:action="@{/modificar_pais/__${pais.id}__}" method="post" enctype="multipart/form-data">
							<div class="form-row">
								<div th:if="${error != null}" class="col-md-12 alert alert-danger" role="alert">
									<p th:text="${error}"></p>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<!-- <label for="subject">Subject</label> -->
									<input th:value="${pais.nombre}" type="date" id="subject" class="form-control" name="fecha" 
										placeholder="fecha">
								</div>
							</div>
							<!--BOTON DE MODIFICAR-->
							<div class="row form-group">
								<div class="col-md-12">
									<input type="submit" value="Modificar"
										class="btn btn-primary">
								</div>
							</div>
							<br>
							<br>
							<br>
							<br>

						</form>
					</div>
				</div>
			</div>
		</header>



		<!--COMENTO FOOTER-->
		<!--<footer th:replace="components/footer::footer"></footer>-->
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<scripts th:replace="/components/scripts::scripts"></scripts>



</body>
</html>
