<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="components/head::head"></head>

<body>

	<div class="fh5co-loader"></div>

	<div id="page">
		<nav th:replace="components/nav::nav"></nav>

		<header id="fh5co-header" class="fh5co-cover registro">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="display-t">
							<div class="animate-box" data-animate-effect="fadeIn">
								<h1>
									<span>Ingresá</span>!
								</h1>
								<p>
									Colocá tu usuario y contraseña para poder consultar, crear o sumarte a partidos.
								</p>
								<form th:action="@{/logincheck}" method="post"
									enctype="multipart/form-data">
									<div class="form-row">
										<div th:if="${error != null}"
											class="col-md-12 alert alert-warning" role="alert">
											<p th:text="${error}"></p>
										</div>
									</div>
									<div class="row form-group">
										<div class="col-md-12">
											<input type="text" id="mail" class="form-control" name="mail"
												th:value="${mail}" placeholder="Email">
										</div>
									</div>
									<div class="row form-group">
										<div class="col-md-12">
											<input type="password" id="clave" class="form-control"
												name="clave" th:value="${clave}" placeholder="Contraseña">
										</div>
									</div>

									<div class="row form-group">
										<div class="text-center col-md-12">
											<input type="submit" value="Ingresar"
												class="btn btn-primary">
										</div>
									</div>

									<!-- 							<div class="text-center mt-4 font-weight-light"> -->
									<!-- 										Ya estas registrado? <a th:href="@{login}" -->
									<!-- 											class="text-primary">Ingresar</a> -->
									<!-- 									</div> -->

								</form>
							</div>
						</div>
					</div>
					<div class="col-md-8 animate-box">
						<h1>
							<span>Registrate</span>!
						</h1>
						<p>
							Y nunca más te quedes sin un jugador,<br>ni con las ganas de
							jugar!
						</p>
						<form th:action="@{/usuario/registrar}" method="post"
							enctype="multipart/form-data">
							<div class="form-row">
								<div th:if="${errorRegistrarse != null}"
									class="col-md-12 alert alert-warning" role="alert">
									<p th:text="${errorRegistrarse}"></p>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-6">
									<input type="text" id="nombre" class="form-control"
										name="nombre" th:value="${nombre}" placeholder="Nombre">
								</div>
								<div class="col-md-6">
									<input type="text" id="apellido" class="form-control"
										name="apellido" th:value="${apellido}" placeholder="Apellido">
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-6">
									<input type="text" id="edad" class="form-control" name="edad"
										th:value="${edad}" placeholder="Edad">
								</div>
								<div class="col-md-6">
									<select name="localidad" class="form-control">
										<option selected>Elegir Localidad...</option>
										<option th:each="localidad : ${localidades}"
											th:value="${localidad.id}" th:text="${localidad.nombre}"></option>
									</select>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-6">
									<select name="sexo" class="form-control">
										<!--<option th:value="${masculino}">Masculino</option>
                                        <option th:value="${femenino}">Femenino</option>
                                        <option th:value="${mixto}">Mixto</option>-->
                                        <option selected>Selecciona el Sexo</option>
                                        <option th:each="sex:${sexo}" 
                                        th:value="${sex}"
                                        th:text="${sex}"></option>
									</select>
								</div>
								<div class="col-md-6">
									<input type="text" id="email" class="form-control" name="mail"
										th:value="${mail}" placeholder="Email">
								</div>
							</div>
							
							<div class="row form-group">
								<div class="col-md-12">
									<input type="password" id="clave" class="form-control" name="clave"
										th:value="${clave}" placeholder="Ingresá la Contraseña">
								</div>
							</div>
							
							<div class="row form-group">
								<div class="col-md-12">
									<input type="password" id="clave1" class="form-control" name="clave1"
										th:value="${clave1}" placeholder="Repetí la Contraseña">
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-12">
									<label for="archivo">Imagen de perfil</label> <input
									type="file" class="form-control" name="archivo" placeholder="Imagen de Perfil">
								</div>
							</div>

							<div class="row form-group">
								<div class="text-center col-md-12">
									<input type="submit" value="Registrarse"
										class="btn btn-primary">
								</div>
							</div>

							<!-- 							<div class="text-center mt-4 font-weight-light"> -->
							<!-- 										Ya estas registrado? <a th:href="@{login}" -->
							<!-- 											class="text-primary">Ingresar</a> -->
							<!-- 									</div> -->

						</form>
					</div>
				</div>
			</div>
		</header>


		<footer th:replace="components/footer::footer"></footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<scripts th:replace="/components/scripts::scripts"></scripts>



</body>
</html>
