<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="components/head::head"></head>

<body>

	<div class="fh5co-loader">
		
	</div>

	<div id="page">
		<nav th:replace="components/nav::nav"></nav>

		<header id="fh5co-header" class="fh5co-cover partidos alta-partido"
			role="banner" data-stellar-background-ratio="0.5">
			<div class="container pt-30" th:object="${usuario}">
				<div class="row equal">
					<div class="col-md-6 animate-box">

						<h1>Nombre: <span th:text="${usuario.nombre}"></span></h1>
						<h1>Apellido: <span th:text="${usuario.apellido}"></span></h1>
						<p>Email: <span th:text="${usuario.mail}"></span></p>
						<p>Edad: <span th:text="${usuario.edad}"></span></p>
						<p>Sexo: <span th:text="${usuario.sexo}"></span></p>
						<p>Localidad: <span th:text="${usuario.localidad.nombre}"></span></p>
						<p>Posicion: <span th:text="${usuario.posiciones}"></span></p>
						<p>Fecha de creación: <span th:text="${usuario.fechaCreacion}"></span></p>

						<a th:href="@{/usuario/editar-perfil/__${usuario.id}__}" th:if="${session.usuariosession.id == usuario.id}" class="btn btn-primary btn-sm bmodificar"><i class="fas fa-edit"></i> Editar</a>

						

					</div>

					<div class="col-md-6 animate-box img-lateral">
						<img th:if=${usuario.foto!=null} th:src="@{/upload/} + ${usuario.foto.id}" th:alt="${usuario.foto.nombre}" th:title="${usuario.foto.nombre}">

						<table class="table">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Item</th>
									<th scope="col">Puntaje</th>
								</tr>
							</thead>
							<tbody  th:each="reputacion:${reputacionU}">
								<tr>
                                                                        <td th:text="${reputacion.getKey()}"></td>
									<td th:text="${reputacion.getValue()}"></td>
								</tr>
								<!--<tr>
									<td th:text="${usuario.reputacion.habilidad}">Habilidad:</td>
								</tr>
								<tr>	
									<td th:text="${usuario.reputacion.fairplay}">Fairplay:</td>
								</tr>-->
							</tbody>
						</table>
						
					</div>
				</div>
			</div>
		</header>



		<!--COMENTO FOOTER-->
		<!--<footer th:replace="components/footer::footer"></footer>-->
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<scripts th:replace="/components/scripts::scripts"></scripts>



</body>
</html>
